<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Công ty TNHH XDTH Thiên Bình|Xây dựng</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png">
    <link rel="shortcut icon" href="/assets/images/icons/favicon.ico">
    <link rel="manifest" href="/assets/manifest.json">
    <meta name="msapplication-TileColor" content="#f05b28">
    <meta name="msapplication-TileImage" content="/assets/images/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#f05b28">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="/assets/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <header class="header">
      <div class="header__bottom">
        <div class="header__bottom__inner">
          <div class="header__bottom__logo"><a href="#"><img src="/images/logo.png" alt="Logo"></a></div>
          <div class="header__bottom__search">
            <form action="#">
              <div class="input-group"><span class="input-group-addon" id="basic-addon1"> <i class="icon_search"></i></span>
                <input class="form-control" type="text" placeholder="Search" aria-describedby="basic-addon1">
              </div>
            </form>
          </div>
          <div class="header__bottom__menu">
            <div class="nav-click"></div>
            <div class="navigation">
              <div class="nav">
                <ul>
                  <li class="current" style="animation-delay: 0ms;"><a class="link-home current" data-name="home-page" href="/">Trang chủ</a></li>
                  <li style="animation-delay: 50ms;"><a class="link-load" data-name="about-page" href="/pages/xaydung.html">Xây dựng</a></li>
                  <li style="animation-delay: 50ms;"><a class="link-load" data-name="about-page" href="/pages/bds.html">Bất động sản</a></li>
                  <li style="animation-delay: 100ms;"><a class="link-load" data-name="customer-page" href="/pages/bh.html">Bảo hiểm</a></li>
                  <li style="animation-delay: 150ms;"><a class="link-load" data-name="network-page" href="/pages/gioi-thieu-chung.html">Giới thiệu chung</a></li>
                  <li style="animation-delay: 200ms;"><a class="link-load" data-name="client-page" href="/pages/lien-he.html">Liên hệ ngay</a></li>
                  <li style="animation-delay: 300ms;"><a class="link-load" data-name="recruitment-page" href="#">Tuyển dụng</a></li>
                </ul>
              </div><span></span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="wrapper">
      <section class="listPost">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="listPost__item">
                <div class="listPost__item__image">
                  <div class="image" style="background-image:url('http://longhau.3forcom.org/assets/images-thumb/thumbs/480x270/upload/images/news/270518/LHC-tai-tro-giai-gofl-nichiden-1.jpg')"><img src="http://longhau.3forcom.org/assets/images-thumb/thumbs/480x270/upload/images/news/270518/LHC-tai-tro-giai-gofl-nichiden-1.jpg" alt="name"></div>
                </div>
                <div class="listPost__item__desc">
                  <h3> tên bài viêt</h3>
                  <div class="text">
                    <p class="date"> 07/11/2018</p>
                    <p class="short">Không chỉ dừng lại ở địa thế chiến lược, Khu công nghiệp Long Hậu còn là khu công nghiệp đầu tiên triển khai các hoạt động trực quan hóa thông tin sản phẩm đến doanh nghiệp. Đây được xem là “tiếng pháo” đầu tiên trong các hoạt động thu hút đầu tư FDI trên lĩnh vực công nghệ số.</p>
                  </div><a href="#">  Xem chi tiết</a>
                </div>
              </div>
              <div class="listPost__item">
                <div class="listPost__item__image">
                  <div class="image" style="background-image:url('http://longhau.3forcom.org/assets/images-thumb/thumbs/480x270/upload/images/news/270518/LHC-tai-tro-giai-gofl-nichiden-1.jpg')"><img src="http://longhau.3forcom.org/assets/images-thumb/thumbs/480x270/upload/images/news/270518/LHC-tai-tro-giai-gofl-nichiden-1.jpg" alt="name"></div>
                </div>
                <div class="listPost__item__desc">
                  <h3> tên bài viêt</h3>
                  <div class="text">
                    <p class="date"> 07/11/2018</p>
                    <p class="short">Không chỉ dừng lại ở địa thế chiến lược, Khu công nghiệp Long Hậu còn là khu công nghiệp đầu tiên triển khai các hoạt động trực quan hóa thông tin sản phẩm đến doanh nghiệp. Đây được xem là “tiếng pháo” đầu tiên trong các hoạt động thu hút đầu tư FDI trên lĩnh vực công nghệ số.</p>
                  </div><a href="#">  Xem chi tiết</a>
                </div>
              </div>
              <div class="listPost__item">
                <div class="listPost__item__image">
                  <div class="image" style="background-image:url('http://longhau.3forcom.org/assets/images-thumb/thumbs/480x270/upload/images/news/270518/LHC-tai-tro-giai-gofl-nichiden-1.jpg')"><img src="http://longhau.3forcom.org/assets/images-thumb/thumbs/480x270/upload/images/news/270518/LHC-tai-tro-giai-gofl-nichiden-1.jpg" alt="name"></div>
                </div>
                <div class="listPost__item__desc">
                  <h3> tên bài viêt</h3>
                  <div class="text">
                    <p class="date"> 07/11/2018</p>
                    <p class="short">Không chỉ dừng lại ở địa thế chiến lược, Khu công nghiệp Long Hậu còn là khu công nghiệp đầu tiên triển khai các hoạt động trực quan hóa thông tin sản phẩm đến doanh nghiệp. Đây được xem là “tiếng pháo” đầu tiên trong các hoạt động thu hút đầu tư FDI trên lĩnh vực công nghệ số.</p>
                  </div><a href="#">  Xem chi tiết</a>
                </div>
              </div>
              <div class="listPost__item">
                <div class="listPost__item__image">
                  <div class="image" style="background-image:url('http://longhau.3forcom.org/assets/images-thumb/thumbs/480x270/upload/images/news/270518/LHC-tai-tro-giai-gofl-nichiden-1.jpg')"><img src="http://longhau.3forcom.org/assets/images-thumb/thumbs/480x270/upload/images/news/270518/LHC-tai-tro-giai-gofl-nichiden-1.jpg" alt="name"></div>
                </div>
                <div class="listPost__item__desc">
                  <h3> tên bài viêt</h3>
                  <div class="text">
                    <p class="date"> 07/11/2018</p>
                    <p class="short">Không chỉ dừng lại ở địa thế chiến lược, Khu công nghiệp Long Hậu còn là khu công nghiệp đầu tiên triển khai các hoạt động trực quan hóa thông tin sản phẩm đến doanh nghiệp. Đây được xem là “tiếng pháo” đầu tiên trong các hoạt động thu hút đầu tư FDI trên lĩnh vực công nghệ số.</p>
                  </div><a href="#">  Xem chi tiết</a>
                </div>
              </div>
              <div class="listPost__item">
                <div class="listPost__item__image">
                  <div class="image" style="background-image:url('http://longhau.3forcom.org/assets/images-thumb/thumbs/480x270/upload/images/news/270518/LHC-tai-tro-giai-gofl-nichiden-1.jpg')"><img src="http://longhau.3forcom.org/assets/images-thumb/thumbs/480x270/upload/images/news/270518/LHC-tai-tro-giai-gofl-nichiden-1.jpg" alt="name"></div>
                </div>
                <div class="listPost__item__desc">
                  <h3> tên bài viêt</h3>
                  <div class="text">
                    <p class="date"> 07/11/2018</p>
                    <p class="short">Không chỉ dừng lại ở địa thế chiến lược, Khu công nghiệp Long Hậu còn là khu công nghiệp đầu tiên triển khai các hoạt động trực quan hóa thông tin sản phẩm đến doanh nghiệp. Đây được xem là “tiếng pháo” đầu tiên trong các hoạt động thu hút đầu tư FDI trên lĩnh vực công nghệ số.</p>
                  </div><a href="#">  Xem chi tiết</a>
                </div>
              </div>
              <div class="listPost__item">
                <div class="listPost__item__image">
                  <div class="image" style="background-image:url('http://longhau.3forcom.org/assets/images-thumb/thumbs/480x270/upload/images/news/270518/LHC-tai-tro-giai-gofl-nichiden-1.jpg')"><img src="http://longhau.3forcom.org/assets/images-thumb/thumbs/480x270/upload/images/news/270518/LHC-tai-tro-giai-gofl-nichiden-1.jpg" alt="name"></div>
                </div>
                <div class="listPost__item__desc">
                  <h3> tên bài viêt</h3>
                  <div class="text">
                    <p class="date"> 07/11/2018</p>
                    <p class="short">Không chỉ dừng lại ở địa thế chiến lược, Khu công nghiệp Long Hậu còn là khu công nghiệp đầu tiên triển khai các hoạt động trực quan hóa thông tin sản phẩm đến doanh nghiệp. Đây được xem là “tiếng pháo” đầu tiên trong các hoạt động thu hút đầu tư FDI trên lĩnh vực công nghệ số.</p>
                  </div><a href="#">  Xem chi tiết</a>
                </div>
              </div>
              <div class="listPost__item">
                <div class="listPost__item__image">
                  <div class="image" style="background-image:url('http://longhau.3forcom.org/assets/images-thumb/thumbs/480x270/upload/images/news/270518/LHC-tai-tro-giai-gofl-nichiden-1.jpg')"><img src="http://longhau.3forcom.org/assets/images-thumb/thumbs/480x270/upload/images/news/270518/LHC-tai-tro-giai-gofl-nichiden-1.jpg" alt="name"></div>
                </div>
                <div class="listPost__item__desc">
                  <h3> tên bài viêt</h3>
                  <div class="text">
                    <p class="date"> 07/11/2018</p>
                    <p class="short">Không chỉ dừng lại ở địa thế chiến lược, Khu công nghiệp Long Hậu còn là khu công nghiệp đầu tiên triển khai các hoạt động trực quan hóa thông tin sản phẩm đến doanh nghiệp. Đây được xem là “tiếng pháo” đầu tiên trong các hoạt động thu hút đầu tư FDI trên lĩnh vực công nghệ số.</p>
                  </div><a href="#">  Xem chi tiết</a>
                </div>
              </div>
              <div class="listPost__item">
                <div class="listPost__item__image">
                  <div class="image" style="background-image:url('http://longhau.3forcom.org/assets/images-thumb/thumbs/480x270/upload/images/news/270518/LHC-tai-tro-giai-gofl-nichiden-1.jpg')"><img src="http://longhau.3forcom.org/assets/images-thumb/thumbs/480x270/upload/images/news/270518/LHC-tai-tro-giai-gofl-nichiden-1.jpg" alt="name"></div>
                </div>
                <div class="listPost__item__desc">
                  <h3> tên bài viêt</h3>
                  <div class="text">
                    <p class="date"> 07/11/2018</p>
                    <p class="short">Không chỉ dừng lại ở địa thế chiến lược, Khu công nghiệp Long Hậu còn là khu công nghiệp đầu tiên triển khai các hoạt động trực quan hóa thông tin sản phẩm đến doanh nghiệp. Đây được xem là “tiếng pháo” đầu tiên trong các hoạt động thu hút đầu tư FDI trên lĩnh vực công nghệ số.</p>
                  </div><a href="#">  Xem chi tiết</a>
                </div>
              </div>
              <div class="listPost__item">
                <div class="listPost__item__image">
                  <div class="image" style="background-image:url('http://longhau.3forcom.org/assets/images-thumb/thumbs/480x270/upload/images/news/270518/LHC-tai-tro-giai-gofl-nichiden-1.jpg')"><img src="http://longhau.3forcom.org/assets/images-thumb/thumbs/480x270/upload/images/news/270518/LHC-tai-tro-giai-gofl-nichiden-1.jpg" alt="name"></div>
                </div>
                <div class="listPost__item__desc">
                  <h3> tên bài viêt</h3>
                  <div class="text">
                    <p class="date"> 07/11/2018</p>
                    <p class="short">Không chỉ dừng lại ở địa thế chiến lược, Khu công nghiệp Long Hậu còn là khu công nghiệp đầu tiên triển khai các hoạt động trực quan hóa thông tin sản phẩm đến doanh nghiệp. Đây được xem là “tiếng pháo” đầu tiên trong các hoạt động thu hút đầu tư FDI trên lĩnh vực công nghệ số.</p>
                  </div><a href="#">  Xem chi tiết</a>
                </div>
              </div>
              <div class="listPost__item">
                <div class="listPost__item__image">
                  <div class="image" style="background-image:url('http://longhau.3forcom.org/assets/images-thumb/thumbs/480x270/upload/images/news/270518/LHC-tai-tro-giai-gofl-nichiden-1.jpg')"><img src="http://longhau.3forcom.org/assets/images-thumb/thumbs/480x270/upload/images/news/270518/LHC-tai-tro-giai-gofl-nichiden-1.jpg" alt="name"></div>
                </div>
                <div class="listPost__item__desc">
                  <h3> tên bài viêt</h3>
                  <div class="text">
                    <p class="date"> 07/11/2018</p>
                    <p class="short">Không chỉ dừng lại ở địa thế chiến lược, Khu công nghiệp Long Hậu còn là khu công nghiệp đầu tiên triển khai các hoạt động trực quan hóa thông tin sản phẩm đến doanh nghiệp. Đây được xem là “tiếng pháo” đầu tiên trong các hoạt động thu hút đầu tư FDI trên lĩnh vực công nghệ số.</p>
                  </div><a href="#">  Xem chi tiết</a>
                </div>
              </div>
              <div class="listPost__item">
                <div class="listPost__item__image">
                  <div class="image" style="background-image:url('http://longhau.3forcom.org/assets/images-thumb/thumbs/480x270/upload/images/news/270518/LHC-tai-tro-giai-gofl-nichiden-1.jpg')"><img src="http://longhau.3forcom.org/assets/images-thumb/thumbs/480x270/upload/images/news/270518/LHC-tai-tro-giai-gofl-nichiden-1.jpg" alt="name"></div>
                </div>
                <div class="listPost__item__desc">
                  <h3> tên bài viêt</h3>
                  <div class="text">
                    <p class="date"> 07/11/2018</p>
                    <p class="short">Không chỉ dừng lại ở địa thế chiến lược, Khu công nghiệp Long Hậu còn là khu công nghiệp đầu tiên triển khai các hoạt động trực quan hóa thông tin sản phẩm đến doanh nghiệp. Đây được xem là “tiếng pháo” đầu tiên trong các hoạt động thu hút đầu tư FDI trên lĩnh vực công nghệ số.</p>
                  </div><a href="#">  Xem chi tiết</a>
                </div>
              </div>
              <div class="listPost__item">
                <div class="listPost__item__image">
                  <div class="image" style="background-image:url('http://longhau.3forcom.org/assets/images-thumb/thumbs/480x270/upload/images/news/270518/LHC-tai-tro-giai-gofl-nichiden-1.jpg')"><img src="http://longhau.3forcom.org/assets/images-thumb/thumbs/480x270/upload/images/news/270518/LHC-tai-tro-giai-gofl-nichiden-1.jpg" alt="name"></div>
                </div>
                <div class="listPost__item__desc">
                  <h3> tên bài viêt</h3>
                  <div class="text">
                    <p class="date"> 07/11/2018</p>
                    <p class="short">Không chỉ dừng lại ở địa thế chiến lược, Khu công nghiệp Long Hậu còn là khu công nghiệp đầu tiên triển khai các hoạt động trực quan hóa thông tin sản phẩm đến doanh nghiệp. Đây được xem là “tiếng pháo” đầu tiên trong các hoạt động thu hút đầu tư FDI trên lĩnh vực công nghệ số.</p>
                  </div><a href="#">  Xem chi tiết</a>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="pagination">
                <ul class="clearfix" data-anim-type="fadeInUp" data-anim-delay="150">
                  <li class="disabled show-mobile"><a aria-label="Previous"><i class="arrow_carrot-left"></i></a></li>
                  <li class="active show-mobile"><a title="1">1</a></li>
                  <li class="show-mobile"><a href="#">2</a></li>
                  <li class="show-mobile"><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">6</a></li>
                  <li><a href="#">7</a></li>
                  <li><a href="#">8</a></li>
                  <li class="show-mobile"><a href="#" rel="next"><i class="arrow_carrot-right"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End Main Content-->
    <footer class="footer">
      <div class="container"><span class="footerLogo"></span>
        <div class="footer_copyright">
          <p>Công ty TNHH XDTH Thiên Bình</p>
          <p>Copyright ©2018 by <a href="#">Công ty TNHH XDTH Thiên Bình</a>. All rights reserved.</p>
        </div>
      </div>
    </footer>
    <!-- End Footer-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/library.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>